@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';

:root {
  --bold-heading: hsl(0, 6%, 24%);
  --text-pink: hsl(0, 36%, 70%);

  /* Bacgkround Gradiant */
  --bg-gradiant-from: hsl(0, 0%, 100%);
  --bg-gradiant-to: hsl(0, 100%, 98%);
}

body {
  width: 100dvw;
  min-height: 100dvh;
  font-family: 'Josefin Sans';
}

